/* 
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* 
   Toast Framework - Grid
   http://daneden.me/toast/
*/
.wrap { margin: 0 auto; padding: 10px; max-width: 960px; }
.grids {
	overflow: hidden; /* Clear the floats */
	margin: 0 0 0 -1.7%;
	max-width: 960px;
	width: auto;
	list-style: none; /* So we can make grids out of lists. */
	letter-spacing: -.25em; /* Fix inline-block weirdness */
}

.grids [class*="grid-"] {
	display: inline-block;
	-webkit-box-sizing: border-box; /* Allow padding & borders on grids without breaking. IE8+ */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 0 1.7%;
	vertical-align: top;
	letter-spacing: 0; /* And restore our letter spacing. */
}
	.grid-1 { width: 6.15%; }
	.grid-2 { width: 14.583%; }
	.grid-3 { width: 22.917%; }
	.grid-4, .grid-one-third { width: 31.25%; }
	.grid-5 { width: 39.583%; }
	.grid-6, .grid-half { width: 47.917%; }
	.grid-7 { width: 56.25%; }
	.grid-8, .grid-two-thirds { width: 64.583%; }
	.grid-9 { width: 72.917%; }
	.grid-10 { width: 81.25%; }
	.grid-11 { width: 89.583%; }
	.grid-12 { margin: 0; width: 97.917%; }

@media screen and (max-width: 700px) { .grids { margin: 0; width: auto; } .grids [class*="grid-"] { display: block; margin: 0; width: auto; } }

/*! 
 *  Focal Point: Pure HTML/CSS Adaptive Images Framework
 *  Author: Adam Bradley, 2012
 *  License: MIT/GPLv2
 *  https://github.com/adamdbradley/focal-point
 *  http://www.cdnconnect.com/
*/
.focal-point{overflow:hidden;height:auto;}.focal-point img{max-width:100%;width:100%;height:auto;-ms-interpolation-mode:bicubic;max-}.focal-point div{position:relative;max-width:none;height:auto;}@media all and (max-width:767px){.focal-point div{margin:-3em -4em;}.down-1 div{margin-top:-3.5em;margin-bottom:-2.5em;}.down-2 div{margin-top:-4em;margin-bottom:-2em;}.down-3 div{margin-top:-4.5em;margin-bottom:-1.5em;}.down-4 div{margin-top:-5em;margin-bottom:-1em;}.down-5 div{margin-top:-5.5em;margin-bottom:-0.5em;}.down-6 div{margin-top:-6em;margin-bottom:0;}.up-1 div{margin-top:-2.5em;margin-bottom:-3.5em;}.up-2 div{margin-top:-2em;margin-bottom:-4em;}.up-3 div{margin-top:-1.5em;margin-bottom:-4.5em;}.up-4 div{margin-top:-1em;margin-bottom:-5em;}.up-5 div{margin-top:-0.5em;margin-bottom:-5.5em;}.up-6 div{margin-top:0;margin-bottom:-6em;}.right-1 div{margin-right:-3.34em;margin-left:-4.66em;}.right-2 div{margin-right:-2.67em;margin-left:-5.33em;}.right-3 div{margin-right:-2em;margin-left:-6em;}.right-4 div{margin-right:-1.34em;margin-left:-6.66em;}.right-5 div{margin-right:-0.67em;margin-left:-7.33em;}.right-6 div{margin-right:0;margin-left:-8em;}.left-1 div{margin-right:-4.66em;margin-left:-3.34em;}.left-2 div{margin-right:-5.33em;margin-left:-2.67em;}.left-3 div{margin-right:-6em;margin-left:-2em;}.left-4 div{margin-right:-6.66em;margin-left:-1.34em;}.left-5 div{margin-right:-7.33em;margin-left:-0.67em;}.left-6 div{margin-right:-8em;margin-left:0;}.focal-point.portrait div{margin:-4em -3em;}.portrait.down-1 div{margin-top:-4.66em;margin-bottom:-3.34em;}.portrait.down-2 div{margin-top:-5.33em;margin-bottom:-2.67em;}.portrait.down-3 div{margin-top:-6em;margin-bottom:-2em;}.portrait.down-4 div{margin-top:-6.66em;margin-bottom:-1.34em;}.portrait.down-5 div{margin-top:-7.33em;margin-bottom:-0.67em;}.portrait.down-6 div{margin-top:-8em;margin-bottom:0;}.portrait.right-1 div{margin-right:-2.5em;margin-left:-3.5em;}.portrait.right-2 div{margin-right:-2em;margin-left:-4em;}.portrait.right-3 div{margin-right:-1.5em;margin-left:-4.5em;}.portrait.right-4 div{margin-right:-1em;margin-left:-5em;}.portrait.right-5 div{margin-right:-0.5em;margin-left:-5.5em;}.portrait.right-6 div{margin-right:0;margin-left:-6em;}.portrait.up-1 div{margin-top:-3.34em;margin-bottom:-4.66em;}.portrait.up-2 div{margin-top:-2.67em;margin-bottom:-5.33em;}.portrait.up-3 div{margin-top:-2em;margin-bottom:-6em;}.portrait.up-4 div{margin-top:-1.34em;margin-bottom:-6.66em;}.portrait.up-5 div{margin-top:-0.67em;margin-bottom:-7.33em;}.portrait.up-6 div{margin-top:0;margin-bottom:-8em;}.portrait.left-1 div{margin-right:-3.5em;margin-left:-2.5em;}.portrait.left-2 div{margin-right:-4em;margin-left:-2em;}.portrait.left-3 div{margin-right:-4.5em;margin-left:-1.5em;}.portrait.left-4 div{margin-right:-5em;margin-left:-1em;}.portrait.left-5 div{margin-right:-5.5em;margin-left:-0.5em;}.portrait.left-6 div{margin-right:-6em;margin-left:0;}}

/* ===== Primary Styles =================3=======================================
   Author: Marco Hyyryläinen
   By the way, glad to see you! Have a great day :)
   ========================================================================== */

/* -- Fonts -- */
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'NovecentowideBookBold';
    src: url('fonts/Novecentowide-Bold-webfont.eot');
    src: url('fonts/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-Bold-webfont.woff') format('woff'),
         url('fonts/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');

}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'NovecentowideLightBold';
    src: url('fonts/Novecentowide-DemiBold-webfont.eot');
    src: url('fonts/Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-DemiBold-webfont.woff') format('woff'),
         url('fonts/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');

}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
}


/* -- Animation - Fade the magic -- */
@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadein {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s; /* The day we only need this... */
}


/* -- The Main Show -- */
body {
	background-color: #F8F8F8;
	color: #4D4D4D;
	font: 100%/1.5 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
	a { color: #87C48F; text-decoration: none; font-weight: bold; }
		a:hover { opacity: 0.6; }

h1, h3 {
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    transition:all .2s linear; 
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	content: attr(data-icon);
	font-weight: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.wrap { margin-top: 35px; }

header { text-align: center; }
	header img { margin-bottom: 20px; }
	header .logo { margin: 0 auto 20px auto; width: 100px; height: 100px; background: url('img/logo-retina.png') no-repeat; background-size: 100px 100px; }
	header .logo a { position: absolute; width: 300px; height: 100px; }
	header .logo h1 { display: none; }
	
	header h1 {
		color: #4F4F4F;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 4.875em;
		font-family: 'NovecentowideBookBold', sans-serif;
		line-height: 1.2em;
	}
	
	header h3, #action {
		margin-bottom: 2em;
		color: #C1C1C1;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.375em;
		font-family: 'NovecentowideLightBold', sans-serif;
		line-height: 1em;
	}

.front-box {
    margin-bottom: 40px !important;
    padding: 10px 15px 15px 15px;
    background: #fff;
    text-align: center;
    line-height: 24px;
}
	.front-box .icon { margin-top: 40px; margin-bottom: 40px; font-size: 84px; }
    .front-box h4 { margin-bottom: 5px; font-size: 20px; font-family: 'NovecentowideLightBold', sans-serif; }
	    .front-box h4 a {  color: #4D4D4D; font-weight: normal; }
    .front-box .arrow { position: relative; top: 1px; font-size: 22px; }
			
.case-header { margin-bottom: 40px !important; }
.case { margin-bottom: 40px !important; max-height: 306px; background: #fff; }
	.case h4 { margin-bottom: 10px; font-size: 20px; font-family: 'NovecentowideLightBold', sans-serif; }
	.case h4 a {  color: #4D4D4D; font-weight: normal; }
	.case .meta { padding: 15px; }
		.case .meta p { margin-bottom: 20px; }
		
#action { letter-spacing: 0px; }
	#action a { color: #87C48F; font-size: 1em; font-weight: normal; }		

/* Retina-logo */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .logo { background: url('img/logo-retina.png') no-repeat; background-size: 200px 200px; }
}			

/* Some media-quieris (hard word to spell, okey?!) */
@media screen and (max-width: 904px) {
	header h1 { font-size: 4.2em; }
	header h3 { font-size: 1.3em; }
}

@media screen and (max-width: 805px) {
	header h1 { font-size: 3.5em; }
	header h3 { font-size: 1em; }
	.case { max-height: 245px; font-size: 0.7em; } 
}

@media screen and (max-width: 700px) {
	.case { max-height: none; }
}

@media screen and (max-width: 540px) {
	header h1 { font-size: 3em; line-height: 1.1em; }
	header h3 { font-size: 1.4em; line-height: 1.2em; }
	.case { font-size: 1em; }
}			