@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");

/* $COLORS */
$black: #333333;
$white: #ffffff;
$deep-purple: #3a315c;
$light-purple: #71669c;
$bright-purple: #a392e0;

/* $RESET */
* {
  margin: 0;
  padding: 0;
  position: relative;
}

/* $STYLES */
body {
  background-color: $deep-purple;
  font: 150%/1.5 "PT Sans", serif;
  color: $white;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 108px;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 36px;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.lighter {
  color: $light-purple;
}

a {
  color: $bright-purple;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $light-purple;
  }
}

.wrapper {
  margin: 80px auto;
  max-width: 830px;
}

#spotify-live {
  font-size: 0.8em;
}

.case-list {
  margin-top: 30px;

  h2 {
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .case {
    width: 49%;
    float: left;

    &:nth-of-type(2n) {
      margin-left: 2%;
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }

    h3 {
      margin-bottom: -10px;
    }

    p {
      font-size: 0.8em;
    }
  }
}

.call-out {
  margin-top: 30px;
  background: $white;
  border-radius: 4px;
  color: $black;
  padding: .75em;
  text-shadow: none;
}
