<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} Marco Hyyryläinen - Webbutvecklare</title>
  <meta name="description" content="Jag är Marco Hyyryläinen: webbutvecklare, amatör-teknikjournalist och kaffeentusiast." />
  <meta name="keywords" content="marco, hyyryläinen, webbutvecklare, amatör-teknikjournalist, kaffeentusiast, frilansare, frilans, hemsidor, kod, wordpress, företag, egen, hemsida, webbbyrå, webb, byrå, design" />
    
  <!-- Apple-stuff -->
  <meta name="apple-mobile-web-app-title" content="WheresMarco">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
  
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
	<header class="parallax" data-velocity="-.6">
		<div class="wrap info">
			<div class="grids">
				<div class="grid-12">
					<h1>Marco Hyyryläinen</h1>
					<h3>Webbutvecklare och grafisk formgivare med starkt kaffeintresse.</h3>

					<ul>
						<li><a href="http://dribbble.com/wheresmarco" target="_blank"><div class="icon" aria-hidden="true" data-icon="&quot;"></div></a></li>
						<li><a href="http://twitter.com/wheresmarco" target="_blank"><div class="icon" aria-hidden="true" data-icon="!"></div></a></li>
						<li><a href="mailto:marco@wheresmar.co"><div class="icon" aria-hidden="true" data-icon="#"></div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	
	<div class="wrap fadein">
		<div class="grids">
			<div class="grid-12">
	    		{{ content }}
	    	</div>
	  	</div>
	</div>

	<footer>
		<div class="wrap">
			<div class="grids">
				<div class="grid-8">
					<a href="https://twitter.com/WheresMarco" class="twitter-follow-button" data-show-count="false" data-lang="sv" data-dnt="true">Följ @WheresMarco</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>

				<div class="grid-4">
					<p class="mark">Made with ❤ in Köping.</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/js/jquery.scrolly.js"></script>
	<script>
	    $(document).ready(function(){
	       $('.parallax').scrolly({bgParallax: true});
	    });
	</script>
</body>
</html>