<!DOCTYPE html>
<html lang="se">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} Marco Hyyryläinen - Webbutvecklare</title>
  <meta name="description" content="Jag är Marco Hyyryläinen: webbutvecklare, amatör-teknikjournalist och kaffeentusiast." />
  <meta name="keywords" content="marco, hyyryläinen, webbutvecklare, amatör-teknikjournalist, kaffeentusiast, frilansare, frilans, hemsidor, kod, wordpress, företag, egen, hemsida, webbbyrå, webb, byrå, design" />
    
  <!-- Apple-stuff -->
  <meta name="apple-mobile-web-app-title" content="WheresMarco">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
  
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
	<header class="parallax" data-velocity="-.6">
		<div class="wrap info">
			<h1>Marco Hyyryläinen</h1>
			<h3>Webbutvecklare och grafisk formgivare med starkt kaffeintresse.</h3>

			<ul>
				<li><a href="#"><div class="fs1" aria-hidden="true" data-icon="!"></div></a></li>
				<li><a href="#"><div class="fs1" aria-hidden="true" data-icon="&quot;"></div></a></li>
				<li><a href="#"><div class="fs1" aria-hidden="true" data-icon="#"></div></a></li>
				<li><a href="#"><div class="fs1" aria-hidden="true" data-icon="$"></div></a></li>
			</ul>
		</div>
	</header>


	<div class="wrap fadein">
		<div class="grids">
	    	{{ content }}
	  	</div>
	</div>

	<footer>
		<div class="wrap">
			
			<p class="footer-mark">Made with love in Köping.</p>
		</div>
	</footer>

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/js/jquery.scrolly.js"></script>
	<script>
	    $(document).ready(function(){
	       $('.parallax').scrolly({bgParallax: true});
	    });
	</script>
</body>
</html>